<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="PostSharp.Documentation" value="C:\src\PostSharp-2026.0\PostSharp.Documentation\artifacts\publish\private" />
    <add key="PostSharpPackage" value="C:\Users\GaelFraiteur\.build-artifacts\PostSharpPackage\PostSharpGitHub_PostSharp20260_BuildDistribution\313071\artifacts\publish\private" />
    <!-- PostSharp.Engineering maps to the default nuget.org. -->
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="PostSharp.Documentation">
      <package pattern="PostSharp.Documentation" />
      <package pattern="PostSharp.Documentation.*" />
    </packageSource>
    <packageSource key="PostSharpPackage">
      <package pattern="PostSharp" />
      <package pattern="PostSharp.Redist" />
      <package pattern="PostSharp.Compiler.*" />
      <package pattern="PostSharp.Patterns.*" />
      <package pattern="PostSharp.Settings.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>